# Comando para crear un entorno virtual:
# py -m venv librerias
# Comando para entrar en el entorno virtual:
# .\librerias\Scripts\Activate
python.exe -m pip install --upgrade pip

pip install Flask
pip install Flask-SQLAlchemy
pip install Flask-CORS
pip install Flask-JWT-Extended

pip install PyMySQL
pip install python-dotenv

pip install Werkzeug
pip install scikit-learn

pip install pandas
pip install numpy
pip install bcrypt

pip install marshmallow
pip install scipy
pip install joblib
pip install threadpoolctl

# Para REACT usa:
# npm install --legacy-peer-deps